@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeneralSans";
  font-weight: 100;
  src: url("../assets/fonts/GeneralSans/GeneralSans-Extralight.woff")
    format("opentype");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 200;
  src: url("../assets/fonts/GeneralSans/GeneralSans-Light.woff")
    format("opentype");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 400;
  src: url("../assets/fonts/GeneralSans/GeneralSans-Regular.woff")
    format("opentype");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 500;
  src: url("../assets/fonts/GeneralSans/GeneralSans-Medium.woff")
    format("opentype");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 600;
  src: url("../assets/fonts/GeneralSans/GeneralSans-Semibold.woff")
    format("opentype");
}

@font-face {
  font-family: "GeneralSans";
  font-weight: 700;
  src: url("../assets/fonts/GeneralSans/GeneralSans-Bold.woff")
    format("opentype");
}

body {
  padding: 0;
  margin: 0;
  font-family: "GeneralSans", "Arial", "sans-serif";
  overflow-x: hidden;
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p,
figure {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

.react-player__preview {
  margin: 0 auto;
  overflow: hidden;
}

.fancy {
  --offset: 3px;
  position: relative;
  border-radius: 4px;
  background: #8761c3;
  height: 56px;
  width: 100%;
  overflow: hidden;
}

.fancy::before {
  content: "";
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

.fancy::after {
  content: "";
  background: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
